 li a{
          display: inline-block;
          color: #298CEC;
          text-align: center;
          text-decoration: none;
      } li a:hover{
          /*background-color: #6CC417;*/
          text-decoration: none;
      }
       button a{
            display: inline-block;
            color: #298CEC;
           text-align: center;
            text-decoration: none;
        }

      button a:hover{
          background-color: #6CC417;
          letter-spacing: 1px;
          text-decoration: none;

      }*/
      .navbar{
       border-radius:10px;
       text-decoration: none;
        background: black;
        color: white;
        font-size:30px;
        font-weight: bold;
        width: 145px;
        margin-top: 10px;

      }

      }
      .button {
          float: left;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 30px;
        margin: 8px 5px;
        cursor: pointer;
      }

      .form-style-6{
          font: 95% Arial, Helvetica, sans-serif;
          max-width: 400px;
          margin: 15px auto;
          padding: 16px;
          background: #F7F7F7;
      }
      .form-style-6 h1{
          background: #43D1AF;
          padding: 20px 0;
          font-size: 140%;
          font-weight: 300;
          text-align: center;
          color: #fff;
          margin: -16px -16px 16px -16px;
      }
      .form-style-6 input[type="text"],
      .form-style-6 input[type="email"],
      .form-style-6 input[type="file"],
      .form-style-6 textarea,
      .form-style-6 select
      {
          -webkit-transition: all 0.30s ease-in-out;
          -moz-transition: all 0.30s ease-in-out;
          -ms-transition: all 0.30s ease-in-out;
          -o-transition: all 0.30s ease-in-out;
          outline: none;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          width: 100%;
          background: #fff;
          margin-bottom: 4%;
          border: 1px solid #ccc;
          padding: 3%;
          color: #555;
          font: 95% Arial, Helvetica, sans-serif;
      }
      .form-style-6 input[type="text"]:focus,
      .form-style-6 input[type="email"]:focus,
      .form-style-6 input[type="file"]:focus,
      .form-style-6 textarea:focus,
      .form-style-6 select:focus
      {
          box-shadow: 0 0 5px #43D1AF;
          padding: 3%;
          border: 1px solid #43D1AF;
      }

      .form-style-6 input[type="submit"]{
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          width: 100%;
          padding: 3%;
          background: #43D1AF;
          border-bottom: 2px solid #30C29E;
          border-top-style: none;
          border-right-style: none;
          border-left-style: none;
          color: #fff;
      }
      .form-style-6 input[type="submit"]:hover
          background: #2EBC99;
      }
      .box{
        margin-top: 500px;
        background:black;
        height: 20px;
        weight:30px;

      }
     h2{
      background: #43D1AF;
       padding: 8px ;
       font-size: 15px;
       font-weight: 300;
       color: #fff;
       border-radius: 5%
       margin-top:10px;
       margin-bottom: 10px;

     }
     .header{
      background: red;
     }
    .divtag{
      margin-top: 10px;
    }
    table th{
      background-color:#43D1AF ;
      padding: 10px;
    }
   
}